.aside {
    width: 100%;
    max-width: 340px;
    background: #efefef;
    box-sizing: border-box;
    padding: 15px;
    padding-bottom: 0;
    height: 100%;

    a {
        text-decoration: none;
    }
}