.logo {
    display: block;
    font-size: 60px;
    font-weight: bold;
    font-family: "Lucida Calligraphy Italic";
    color: #000000;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    margin: 30px 0;
}